In [35]:
# Python 2 & 3 Compatibility
from __future__ import print_function, division

# Necessary imports
import pandas as pd
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf
import patsy
import seaborn as sns
from seaborn import plt
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import RidgeCV

%matplotlib inline

In [36]:
import pickle

# 1. Data Import

In [106]:
# Open the prepped parcel dataframe

with open("../data/processed/0202_mpls_parcel_data_abr.pkl", 'rb') as picklefile: 
    parcel_df = pickle.load(picklefile)
parcel_df.head()

,PIN,USE1_DESC,EMV_TOTAL,TAX_CAPAC,TOTAL_TAX,FIN_SQ_FT,YEAR_BUILT
1,1311821120005,Commercial,0.0,0.0,0.0,0,0
12,3502924230001,Commercial,0.0,0.0,0.0,0,0
13,0202824230266,NaN,0.0,0.0,0.0,0,0
14,0902924420203,Residential,500.0,6.0,9.0,0,0
15,0902924420198,Residential,61500.0,615.0,978.0,0,2001

In [137]:
parcel_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 129719 entries, 1 to 429557
Data columns (total 7 columns):
PIN           129719 non-null object
USE1_DESC     129718 non-null object
EMV_TOTAL     129719 non-null float64
TAX_CAPAC     129719 non-null float64
TOTAL_TAX     129719 non-null float64
FIN_SQ_FT     129719 non-null int64
YEAR_BUILT    129719 non-null int64
dtypes: float64(3), int64(2), object(2)
memory usage: 7.9+ MB

In [108]:
# Open the private ordinance csv

private_df = pd.read_csv('../data/raw/wcmsp-185935.csv')
cols = ['address', 'postal_code', 'energy_star_score', 'primary_property_type',
       'building_floor_area', 'parking_floor_area',
       'year_built', 'total_ghg_emissions',
       'site_eui', 'weather_normalized_site_eui',
       'source_eui', 'weather_normalized_source_eui',
       'water_use', 'unnamed']

# Rename the columns
private_df.columns = cols
private_df.head()

,address,postal_code,energy_star_score,primary_property_type,building_floor_area,parking_floor_area,year_built,total_ghg_emissions,site_eui,weather_normalized_site_eui,source_eui,weather_normalized_source_eui,water_use,unnamed
0,201 Chicago Ave S,55415,36,Office,62400,0,2012,971,115,118,251,252,708,NaN
1,1011 Nicollet Mall,55403,68,Office,59479,0,1920,986,90,93,256,266,882,NaN
2,4701 Beard Ave S,55410,0,Other,59172,0,1914,1622,157,160,427,428,163,NaN
3,8 60Th St W,55419,76,Worship Facility,60640,62000,1959,268,50,54,77,81,674,NaN
4,700 10Th Ave S,55415,89,Office,60528,0,1920,504,74,77,136,140,414,NaN

In [122]:
priv_df = private_df[['address','energy_star_score',
       'building_floor_area', 'parking_floor_area','total_ghg_emissions',
       'site_eui', 'weather_normalized_site_eui',
       'source_eui', 'weather_normalized_source_eui',
       'water_use']]

In [123]:
priv_df

,address,energy_star_score,building_floor_area,parking_floor_area,total_ghg_emissions,site_eui,weather_normalized_site_eui,source_eui,weather_normalized_source_eui,water_use
0,201 Chicago Ave S,36,62400,0,971,115,118,251,252,708
1,1011 Nicollet Mall,68,59479,0,986,90,93,256,266,882
2,4701 Beard Ave S,0,59172,0,1622,157,160,427,428,163
3,8 60Th St W,76,60640,62000,268,50,54,77,81,674
4,700 10Th Ave S,89,60528,0,504,74,77,136,140,414
5,805 2Nd Ave S,31,70000,18800,575,77,84,138,144,419
6,123 3Rd St N,92,182374,16696,1629,56,58,141,140,2155
7,700 Humboldt Ave N,0,58000,0,515,81,89,148,156,2089
8,700 3Rd St S,63,68047,11000,602,89,96,150,157,236
9,525 West 54th St,4,85345,60000,781,114,124,162,173,747
10,920 Lake St E,0,70000,0,2345,263,267,544,547,3967
11,560 6Th Ave N,33,56000,0,1088,95,94,297,295,0
12,3800 Pleasant Ave,82,63260,10433,303,58,64,84,91,894
13,84 10th St S,65,63360,0,752,85,86,189,190,3503
14,1455 Lake St W,61,65000,76704,763,107,114,195,203,605
15,233 Park Ave,55,52069,0,943,121,126,287,295,1660
16,2850 26Th Ave S,0,65130,0,2711,256,262,653,658,1665
17,300 Industrial Blvd,0,65400,91850,303,37,41,76,79,1
18,910 26Th St E,44,61609,0,985,112,114,254,255,842
19,2800 Chicago Ave,65,53750,0,648,96,100,196,199,553
20,2410 Irving Ave N,93,47000,10000,307,60,65,109,114,94
21,4021 Thomas Ave N,0,56963,0,340,79,88,107,117,446
22,1500 6Th St NE,60,51864,0,362,69,75,118,123,1263
23,1630 4Th St Ne,87,68337,40000,307,55,61,79,86,637
24,2828 Chicago Ave,1,56239,50000,2096,182,182,570,570,1034
25,5000 Oliver Ave N,33,53446,0,453,98,109,148,159,345
26,300 Washington Ave s,47,165010,270000,3186,182,194,324,335,7363
27,5937 Nicollet Ave,99,66903,0,3185,292,297,747,750,2297
28,2123 Clinton Ave S,97,50100,28000,219,53,57,77,81,969
29,2323 Riverside Ave S,0,56000,0,841,80,80,232,232,3
...,...,...,...,...,...,...,...,...,...,...
227,913 26Th St E,35,1560501,0,42443,260,268,459,465,71463
228,1107 Harmon Pl Mpls,0,158000,0,2189,100,102,221,222,3011
229,3660 Technology Dr,22,169300,300000,4949,163,167,454,458,138
230,1540 New Brighton Blvd,27,64130,0,2709,254,254,661,661,2110
231,501 Nicollet Mall #D,0,113000,0,0,68,70,151,154,832
232,4225 3rd Ave S,0,108000,0,468,46,49,74,78,1971
233,606 24th Ave S -Fairview St Marys Bldg,94,596511,0,11564,170,171,317,318,19436
234,119 4th St N,81,104843,0,1064,67,71,161,164,1561
235,2500 Lake St E,82,127233,291369,1700,77,79,208,210,5772
236,1520 New Brighton Blvd -home Depot,71,129711,0,1467,74,78,179,182,1368
237,16 9th St S #1,0,120000,0,2178,165,169,302,306,4001
238,900 4th St N,0,130000,0,1024,98,108,140,150,2437
239,610 22nd Ave S,0,112100,20400,1006,79,83,148,153,1518
240,1615 River Rd W,45,117805,0,1684,138,144,240,245,1444
241,2530 Chicago Ave,11,165000,160000,3828,186,189,378,381,6601
242,2101 Summer St,0,190675,190675,116,3,3,9,10,0
243,400 2nd Ave S,61,135009,0,1797,97,103,214,219,761
244,401 3rd St N,0,107839,70584,1004,65,69,149,151,1032
245,1750 Hennepin Ave,0,230000,50000,4403,160,162,314,316,4616
246,1650 New Brighton Blvd,81,134918,265417,1831,83,85,213,213,1623
247,3200 Lake St W,0,89054,44440,2157,183,188,391,396,5
248,528 Hennepin Ave,0,119970,0,1170,64,67,154,158,2773
249,706 2nd Ave S -baker Building,9,112356,0,2715,144,149,377,384,771
250,2021 Hennepin Ave E,78,115000,0,1224,94,99,176,181,1188
251,310 4th Ave S,92,129636,0,869,72,76,115,120,500
252,1012 Lasalle Ave #B,0,165516,0,2261,104,105,219,220,2746
253,2500 3rd Ave S,0,128760,128760,155,9,9,28,28,16
254,910 Elliot Ave,0,117144,0,750,57,61,106,110,2026
255,2840 4th Ave S,0,655000,655000,407,4,4,11,12,1198
256,3433 Broadway St NE,99,126066,162200,742,38,39,93,94,1576

In [113]:
# Open the prepped property info dataframe

with open("../data/processed/0201_prop_info_data_abr.pkl", 'rb') as picklefile: 
    prop_info_df = pickle.load(picklefile)
prop_info_df.head()

                         address   property_id
102824110123      2730 31St St E  102824110123
302824210283   3106 Nicollet Ave  302824210283
302824240197  3335 Blaisdell Ave  302824240197
302924210025  3660 Technology Dr  302924210025
402824210016      1455 Lake St W  402824210016

In [114]:
# Convert the property_id from and into to a string for joining

prop_info_df['property_id_str'] = prop_info_df['property_id'].astype(str)

In [115]:
prop_info_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 838 entries, 102824110123 to 3602924430088
Data columns (total 3 columns):
address            838 non-null object
property_id        838 non-null int64
property_id_str    838 non-null object
dtypes: int64(1), object(2)
memory usage: 26.2+ KB

In [124]:
# Join the private ordinance data and the property info data

private_prop_info_df = pd.merge(priv_df, prop_info_df, how='inner', left_on='address', right_on='address')

In [125]:
private_prop_info_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 839 entries, 0 to 838
Data columns (total 12 columns):
address                          839 non-null object
energy_star_score                839 non-null int64
building_floor_area              839 non-null int64
parking_floor_area               839 non-null int64
total_ghg_emissions              839 non-null int64
site_eui                         839 non-null int64
weather_normalized_site_eui      839 non-null int64
source_eui                       839 non-null int64
weather_normalized_source_eui    839 non-null int64
water_use                        839 non-null int64
property_id                      839 non-null int64
property_id_str                  839 non-null object
dtypes: int64(10), object(2)
memory usage: 85.2+ KB

In [161]:
# Join the private and property info data with the parcel data

join_df = pd.merge(private_prop_info_df, parcel_df, how='inner', left_on='property_id_str', right_on='PIN')

In [162]:
join_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 752 entries, 0 to 751
Data columns (total 19 columns):
address                          752 non-null object
energy_star_score                752 non-null int64
building_floor_area              752 non-null int64
parking_floor_area               752 non-null int64
total_ghg_emissions              752 non-null int64
site_eui                         752 non-null int64
weather_normalized_site_eui      752 non-null int64
source_eui                       752 non-null int64
weather_normalized_source_eui    752 non-null int64
water_use                        752 non-null int64
property_id                      752 non-null int64
property_id_str                  752 non-null object
PIN                              752 non-null object
USE1_DESC                        752 non-null object
EMV_TOTAL                        752 non-null float64
TAX_CAPAC                        752 non-null float64
TOTAL_TAX                        752 non-null float64
FIN_SQ_FT                        752 non-null int64
YEAR_BUILT                       752 non-null int64
dtypes: float64(3), int64(12), object(4)
memory usage: 117.5+ KB

In [163]:
# Drop remaining object fields

join_df.drop(['property_id_str','address', 'PIN'], axis=1, inplace=True)

In [164]:
join_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 752 entries, 0 to 751
Data columns (total 16 columns):
energy_star_score                752 non-null int64
building_floor_area              752 non-null int64
parking_floor_area               752 non-null int64
total_ghg_emissions              752 non-null int64
site_eui                         752 non-null int64
weather_normalized_site_eui      752 non-null int64
source_eui                       752 non-null int64
weather_normalized_source_eui    752 non-null int64
water_use                        752 non-null int64
property_id                      752 non-null int64
USE1_DESC                        752 non-null object
EMV_TOTAL                        752 non-null float64
TAX_CAPAC                        752 non-null float64
TOTAL_TAX                        752 non-null float64
FIN_SQ_FT                        752 non-null int64
YEAR_BUILT                       752 non-null int64
dtypes: float64(3), int64(12), object(1)
memory usage: 99.9+ KB

In [165]:
# Add calculated field

join_df['est_val_per_sqft'] = join_df['EMV_TOTAL'] / join_df['building_floor_area']

In [166]:
# Remove all records where the energy store score is 0

join_df2 = join_df[join_df['energy_star_score'] != 0]

In [167]:
join_df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 569 entries, 0 to 743
Data columns (total 17 columns):
energy_star_score                569 non-null int64
building_floor_area              569 non-null int64
parking_floor_area               569 non-null int64
total_ghg_emissions              569 non-null int64
site_eui                         569 non-null int64
weather_normalized_site_eui      569 non-null int64
source_eui                       569 non-null int64
weather_normalized_source_eui    569 non-null int64
water_use                        569 non-null int64
property_id                      569 non-null int64
USE1_DESC                        569 non-null object
EMV_TOTAL                        569 non-null float64
TAX_CAPAC                        569 non-null float64
TOTAL_TAX                        569 non-null float64
FIN_SQ_FT                        569 non-null int64
YEAR_BUILT                       569 non-null int64
est_val_per_sqft                 569 non-null float64
dtypes: float64(4), int64(12), object(1)
memory usage: 80.0+ KB

In [193]:
join_df2.USE1_DESC.value_counts()

Condo Garage/Miscellaneous    194
Condominium                   155
Commercial                    143
Cooperative                    25
Residential                    16
 Commercial                    16
Apartment                       6
Double Bungalow                 6
Industrial                      4
Townhouse                       1
 Low Income > 3 Units           1
Common Area (No Value)          1
 Apartment                      1
Name: USE1_DESC, dtype: int64

In [194]:
# Strip white space from the USE1_DESC entries

def strip_entries(df):
    strip = lambda x : x.strip()
    df['USE1_DESC'] = df['USE1_DESC'].apply(strip)

In [195]:
strip_entries(join_df2)
join_df2['USE1_DESC'].value_counts()

/Users/rosiehoyem/anaconda2/envs/py35/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

Condo Garage/Miscellaneous    194
Commercial                    159
Condominium                   155
Cooperative                    25
Residential                    16
Apartment                       7
Double Bungalow                 6
Industrial                      4
Townhouse                       1
Low Income > 3 Units            1
Common Area (No Value)          1
Name: USE1_DESC, dtype: int64

In [197]:
# Remove all residential entries
# TODO: Identify why they ended up the dataset?

join_df3 = join_df2[(join_df2['USE1_DESC'] != "Condominium")]
join_df4 = join_df3[(join_df3['USE1_DESC'] != "Residential")]
join_df5 = join_df4[(join_df4['USE1_DESC'] != "Apartment")]
df_non_res = join_df5[(join_df5['USE1_DESC'] != "Townhouse")]

df_non_res.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 390 entries, 0 to 743
Data columns (total 17 columns):
energy_star_score                390 non-null int64
building_floor_area              390 non-null int64
parking_floor_area               390 non-null int64
total_ghg_emissions              390 non-null int64
site_eui                         390 non-null int64
weather_normalized_site_eui      390 non-null int64
source_eui                       390 non-null int64
weather_normalized_source_eui    390 non-null int64
water_use                        390 non-null int64
property_id                      390 non-null int64
USE1_DESC                        390 non-null object
EMV_TOTAL                        390 non-null float64
TAX_CAPAC                        390 non-null float64
TOTAL_TAX                        390 non-null float64
FIN_SQ_FT                        390 non-null int64
YEAR_BUILT                       390 non-null int64
est_val_per_sqft                 390 non-null float64
dtypes: float64(4), int64(12), object(1)
memory usage: 54.8+ KB

In [198]:
# Set misc random USE1_DESC entries to 'Other'

def set_use_to_other(df):
    df['USE1_DESC'].replace('Common Area (No Value)','Other', inplace=True)
    df['USE1_DESC'].replace('Low Income > 3 Units','Other', inplace=True)
    df['USE1_DESC'].replace('Double Bungalow','Other', inplace=True)

In [199]:
set_use_to_other(df_non_res)

/Users/rosiehoyem/anaconda2/envs/py35/lib/python3.5/site-packages/pandas/core/generic.py:3547: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [200]:
df_non_res.USE1_DESC.value_counts()

Condo Garage/Miscellaneous    194
Commercial                    159
Cooperative                    25
Other                           8
Industrial                      4
Name: USE1_DESC, dtype: int64

In [203]:
with open('../data/processed/0202_all_data.pkl', 'wb') as picklefile:
    pickle.dump(df_non_res, picklefile)